* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:cornflowerblue;
}
.box {
  height: 100vh;
  width: 100% !important;
  background-color: indigo;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: auto !important;
  background-color:rgb(95, 89, 133);
  border-radius: 18px;
}